/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
    
   font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  width: 100%;
  
 
}
p{
    color: rgb(255, 255, 255);
}

p1{
    color: rgb(255, 255, 255);
    text-align: right;
    float:right;
    margin-right:15px;
    margin-top:20px;  
}
p2{
    text-align: left;
    float:left;
    color: rgb(255, 255, 255);
    margin-left:15px;
    margin-top:20px;  
}
p3{
    margin-left:10px;
    font-size: small;
    color:white;
}
 
.twocontainers{
  display: flex;
  flex-direction: column;
  
}
.containers{
  
  height: 70vh;
  width: 50%;
  margin: auto;
  background: #fff;
  justify-content: center;
  justify-self: center;
  padding: 20px 60px 40px 40px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0);


 
}
.containers .content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 
  
}


.containers .content .right-side{
  width: 100%;
  margin: auto;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: white;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
   
  
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="submit"]{
    text-align:center;
  
  font-size: 18px;
  outline: none;

  padding: 8px 16px;
  border-radius: 6px;

  cursor: pointer;
 
  background: #f39aa9;
    color: #fff;
    border-color: #fff;
    transition: all 0.5s ease-in-out;
}
.button input[type="submit"]:hover{
    background: transparent;
    border-color: #dd2d4a;
    color: #000;
}



@media (max-width: 950px) {
  .containesr{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .containers .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .containers{
    margin: 40px 0;
    height: 100%;
  }
  .containers .content{
    flex-direction: column-reverse;
  }

 .containers .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}


#containerm {
	display: flex;
 padding-top: 140px ;
	flex-direction: column;
  width: 100%;
  height: 200px;
	background: #222;
	display: grid;
	grid-template-rows: 60% 40%;
  justify-content: center;
  justify-self: center;
 
  background-color: white ; height:150vh; margin: auto;  justify-content: center; padding: 100px;
}

#maze {
	
	width: 100%;
	height: 240px;
	/*background: #39a;
	
	align-self: center;
	justify-self: center;
	place-self: center center;*/
	
	top: 30vh;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mbox{
  display: flex;
  height: 100%;
	background: white;
	display: grid;
  padding-top: 300px;
}
.controls {
    display: flex;
	height: 100%;
	background: white;
	display: grid;
}


.btn {
	width: 60px;
	height: 60px;
	border: 2px #151212 solid;
	border-bottom: 2px #f6a2a2 solid;
	align-self: center;
	justify-self: center;
	cursor: pointer;
	border-radius: 8px;
	display: grid;
  background: #FFC0CB;
  color: #fff;
 
  transition: all 0.5s ease-in-out;
	/*box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.2);*/
}
.chevron {
	height: 20px;
	width: 20px;
	align-self: center;
	justify-self: center;
	color: #222;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	
}

#bu {
	grid-column-start: 2;
}
#bd {
	grid-column-start: 2;
	grid-row-start: 3;
}
#bl {
	grid-column-start: 1;
	grid-row-start: 2;
}
#br {
	grid-column-start: 3;
	grid-row-start: 2;
}

#thingie,
#home {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	/*background: #39a;
	transition: all .1s;*/
}

.emo {
	position: absolute;
	top: 4px;
	left: 1px;
	width: 13px;
	height: 13px;
	border-radius: 20px;
	font-size: 15px;
	line-height: 15px;
	text-align: left;
}

.barrier {
	position: absolute;
	background: #281818;
}

#top {
	top: 20px;
	left: 20px;
	width: 300px;
	height: 2px;
}

#bottom {
	top: 220px;
	left: 20px;
	width: 302px;
	height: 2px;
}

/*style reset*/
.buttons {
	width: 140px;
	height: 140px;
	background: hsl(350, 74%, 78%);
  color:#000;
	align-self: center;
	justify-self: center;
	display: grid;
	grid-template-rows: 70px 70px;
	grid-template-columns: 70px 70px 70px;
}

  



/*style reset*/
button {
	display: inline-block;
	
	padding: none;
	margin: 0;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	background: #dd2d4a;
	
}

button:hover{
  background: transparent;
  border-color: #dd2d4a;
  color: #000;
}
button:focus {
	background-color: #df8392;
}


button:active {
	transition: all 0.5s ease-in-out;
	
}


